@charset "UTF-8";

* {
	font-family:'Heebo', sans-serif;
	font-size:24px;
	margin:5px;
	padding:10px;
	text-align: center;
}

td {
	background-color:#CFCFCF;
	border: 1px solid #A1A1A1;
}

td:hover {
	background-color:#E9E9E9;
}

#screen {
	font-size: 36px;
	background-color: #2D387A;
	color: #FFFFFF;
	text-align:right;
	padding-right:30px;
}
.operator {
	color: #FFFFFF;
	background-color: #FF8700;
	align: center;
}
.operator:hover {
	background-color: #F8AE65;	
}
.ac-0 {
	padding-left:30px;
	text-align:left;
}

